<% layout('boilerplate.ejs') %>

<style>
    /* .table-bordered{
        border-color: rgba(0, 0, 0, 0.25);
        border-collapse: collapse;
    } */
    th{
        padding: 15px !important;
    }
    td{
        padding: 15px !important;
        min-height: 50px;
        /* padding-bottom: 14px; */
    }
    .add-person{
        width: 65%;
        margin: 2rem auto;
    }
    .prospects-table{
        margin: auto;
        width: 90vw;
        max-width: 760px;
    }
</style>

<h2 class="text-center my-4"><%= client.name %> </h2>
<table class="table table-bordered mx-auto w-75">
    <thead>
        <tr>
            <th>Size</th>
            <th>Website</th>
            <th>Business</th>
            <th>Remarks</th>
            <th>Prospects</th>
            <th>Mail</th>
            <th>Info</th>
        </tr>
    </thead>
    <tbody>
         <tr>
            <td><%= client.size %> </td>
            <td><%= client.website %></td>
            <td><%= client.business %></td>
            <td><%= client.remarks %></td>
            <td><%= client.people.length %></td>
            <td><button class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#mailModal">Mail</button></td>
            <td>
                <div class="d-flex align-items-center">
                    <% if (client.linkedin) { %>
                        <a class="fs-3 mx-3 " href="<%= client.linkedin %>" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <% } %>
                    <% if (client.snov) { %>
                        <a class="btn btn-warning btn-sm" target="_blank" href="<%= client.snov %>">Snov</a></button>
                    <% } %>
                </div>
            </td>
         </tr>
    </tbody>
</table>

<form action="/<%= client._id%>/add" method="POST" class="d-flex add-person mx-auto" >
    <input type="text" name="name" placeholder="Prospect First Name" class="form-control d-inline-block mx-1 w-75">
    <input type="text" name="post" placeholder="Prospect Post" class="form-control d-inline-block mx-1">
    <input type="email" name="email" placeholder="Prospect Email" class="form-control d-inline-block mx-1">
    <button class="btn btn-success ms-3">Add</button>
</form>

<table class="prospects-table table table-bordered mb-5">
    <tr>
        <th>Sno.</th>
        <th>Name</th>
        <th>Email</th>
        <th>Post</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    <% client.people.reverse().forEach((person,index) => { %>
     <tr>
        <th><%= index+1 %> </th>
        <td><%= person.name %></td>
        <td><%= person.email %></td>
        <td><%= person.post %></td>
        <td><%= person.status %></td>
        <td><form action="/<%= client._id %>/<%= person._id %>?_method=DELETE" method="POST"><button class="btn"><i class="fa-solid fa-trash"></i></button></form></td>
     </tr>
    <% }) %>
</table>

<div class="modal fade" id="mailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Set Mail Content</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/<%= client._id %>/mail" method="POST">
            <div class="modal-body">
                <div class="mb-3">
                    <label for="subject" class="form-label">Email Subject</label>
                    <input type="text" class="form-control" name="subject">
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label">Email Body</label>
                    <textarea name="body" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary">Mail</button>
            </div>
        </form>
      </div>
    </div>
  </div>

<script>

</script>